	
		@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
		
		/* Add a black background color to the top navigation */
		.topnav {
			background-color: #333;
			overflow: hidden;
		}

		/* Style the links inside the navigation bar */
		.topnav a {
			float: left;
			display: block;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}

		/* Change the color of links on hover */
		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}

		/* Add an active class to highlight the current page */
		.topnav a.active {
		background-color: #4CAF50;
		color: white;
		}

		/* Hide the link that should open and close the topnav on small screens */
		.topnav .icon {
			display: none;

		}/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
		@media screen and (max-width: 600px) {
		.topnav a:not(:first-child) {display: none;}
		.topnav a.icon {
			float: right;
			display: block;
		}
		}

		/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
		@media screen and (max-width: 600px) {
		.topnav.responsive {position: relative;}
		.topnav.responsive a.icon {
			position: absolute;
			right: 0;
			top: 0;
		}
		.topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
		}
		}
		.recycle-article{
			margin:1em;
		}
		.carousel-control-next-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkblue' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
		}
		
		.carousel-control-prev-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkblue' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
		}

		.et_pb_contact_form_label {
			display: block;
			color: black;
			font-weight: bold;
		  letter-spacing: 1.2px;
			font-size: 18px;
			padding-bottom: 5px;
		}
		input[id="et_pb_contact_brand_file_request_0"] {
			display: none;
		}
		label[for="et_pb_contact_brand_file_request_0"] {
			background: #fff;
			height: 145px;
			background-image: url('https://image.flaticon.com/icons/svg/126/126477.svg');
			background-repeat: no-repeat;
			background-position: top 18px center;
			position: absolute;
		  background-size: 7%;
			color: transparent;
		  margin: auto;
			width: 450px;
		  top: 50%;
		  left: 0;
		  right: 0;
		  transform: translateY(-50%);
			border: 1px solid #a2a1a7;
			box-sizing: border-box;
		}
		label[for="et_pb_contact_brand_file_request_0"]:before {
			content: "Drag and Drop a file here";
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 14px;
			color: #202020;
			font-weight: 400;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		label[for="et_pb_contact_brand_file_request_0"]:after {
			display: block;
			content: 'Browse';
			background: #16a317;
			width: 86px;
			height: 27px;
		  line-height: 27px;
			position: absolute;
			bottom: 19px;
			font-size: 14px;
			color: white;
			font-weight: 500;
			left:0;
			right:0;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		label[for="et_pb_contact_brand_request_0"]:after {
			content: " (Provide link or Upload files if you already have guidelines)";
			font-size: 12px;
			letter-spacing: -0.31px;
			color: #7a7a7a;
			font-weight: normal;
		}
		label[for="et_pb_contact_design_request_0"]:after {
			content: " (Provide link or Upload design files)";
			font-size: 12px;
			letter-spacing: -0.31px;
			color: #7a7a7a;
			font-weight: normal;
		}
		label[for="et_pb_contact_brand_file_request_0"].changed, label[for="et_pb_contact_brand_file_request_0"]:hover {
		  background-color: #e3f2fd;
		}
		label[for="et_pb_contact_brand_file_request_0"] {
		  cursor: pointer;
		  transition: 400ms ease;
		}
		.file_names {
			display: block;
			position: absolute;
			color: black;
			left: 0;
			bottom: -30px;
			font-size: 13px;
			font-weight: 300;
		}